<div class="mb-4 flex justify-between">
  <div class="inline-block">
    <h3 class="font-semibold text-gray-900 dark:text-white">Member Dashboard</h3>
    <div class="space-x-1 text-xs font-medium text-gray-400 dark:text-night-300">
      <a href="" Member="hover:text-primary-500">Dashboards</a>
      <span> - Member</span>
    </div>
  </div>
  <div class="inline-block space-x-4">
    <button id="addMemberButton" data-modal-target="addMemberModal" data-modal-toggle="addMemberModal"
      class="flex-none rounded-md bg-primary-500 px-4 py-2.5 text-xs font-semibold text-white hover:bg-primary-600">
      Manage Member
    </button>
  </div>
</div>

