<div class="mx-auto px-4 py-4 sm:px-8 lg:container">
    <!-- Header -->
    <app-competition-header></app-competition-header>

    <!-- Content -->
    <ng-container *ngIf="(competitionState$ | async) as state">
        <!-- Table -->
        <div 
        [competitionState]="state"
        app-competition-table 
        class="md:col-span-2 xl:col-span-3"></div>
        <app-competition-pagination (paginationClick)="getCompetitionOfPage()" [page]="state.appData?.result?.page">f</app-competition-pagination>
    </ng-container>
</div>